/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */
h1 {
	color: teal;
}
h2 {
	color: gold;
}
.board {
	height: 50%;
	width: 50%;
	display: inline-block;	
	/*border: 1px solid black;*/

}
.card {
	height: 200px;
	width: 150px;
	border: 1px solid black;
	background-color: yellow;
	border-radius: 10px;
	float: left;
	margin: 8%;
}

nav {
	text-decoration: none;
	background-color: #808080;
}

a {
	text-decoration: none;
	background-color:  #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

a:hover {
	background-color:  #ee5f3c;
}


.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }
footer {
	background-color: grey;
	display: block;
	/* clear: both; */
	text-align: center;
}


/*


nav {
	text-decoration: none;
	background-color: #808080;
}

a {
	text-decoration: none;
	background-color:  #ffbf00;
	color: white;
	padding: 35px;
	display: block;
	float: left;
}

a:hover {
	background-color:  #ee5f3c;
}


.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
      }

*/


/*
5) Add a horizontal row underneath after your closing paragraph tag.

4) Style your navbar by removing default stylings and adding a background color of #808080 in your css file. The navbar should now look grey!

5) Color and position your navbar items. Follow the steps below:

Set the two links in the navbar with a background color of #ffbf00
Make color of the text for the links white
Set a padding of the links to 35px.
Make sure to display the links a block and float them left.
Your two links should have a orange background with white text!

6) Now add a hover state by setting the background color to #ee5f3c. When you hover over the links, they should turn red. Fancy!

4) After you've floated your nav items, you should have noticed how your header became wrapped around the side of it. Can you remember the CSS solution to this problem? Yep, it's the infamous clearfix class.

Go head and add a class of "clearfix" to your nav bar.
In your css file, set your clearfix class to the following.


*/